<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App 3D</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      xintegrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>

    <!-- Three.js Setup -->
    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.161/build/three.module.js",
          "jsm/": "https://cdn.jsdelivr.net/npm/three@0.161/examples/jsm/"
        }
      }
    </script>
  </head>
  <body>
    <!-- Chat Content -->
    <div class="content">{% block content %} {% endblock %}</div>

    <!-- 3D Background Script -->
    <script type="module" src="{{url_for('static', filename='js/background.js')}}"></script>
  </body>
</html>
